@model TokenExWebDemo.Models.IframeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h2>TokenEx IFrame Demo</h2>

@if (ViewBag.token != null)
{
    <div id="results" class="show">SUCCESS! <br />Token: @ViewBag.token</div>
    @Html.ActionLink("Return to Form", "Index", null, new { @class = "btnReturn" } );
}
else
{

    using (Html.BeginForm(null, null, FormMethod.Post, new { name = "iframeform", id = "iframeform", @class = "hidden" }))
    {
        @Html.HiddenFor(model => model.IframeData, new { @id = "iframeData" })
        @Html.HiddenFor(model => model.Token, new { @id = "token" })
        @Html.HiddenFor(model => model.HMAC, new { @id = "hmac" })

        <div class="row">
            <div class="half">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @id = "firstName", @class = "" })
            </div>
            <div class="half">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @id = "lastName", @class = "" })
            </div>
        </div>
        <hr />
        <label>Credit Card Number</label>
        <iframe id="tokenExIframe" width="100%" height="45px" scrolling="no" frameborder="0" src="@ViewBag.SessionURL"></iframe>
        <label>Expiration Date</label>
        <div class="row">
            <div class="half">
                @Html.DropDownListFor(model => model.ExpMonth, Model.Months, new { @id = "expiry_month", data_val = false })
            </div>
            <div class="half">
                @Html.DropDownListFor(model => model.ExpYear, Model.Years, new { @id = "expiry_year", data_val = false })
            </div>
        </div>
        @Html.LabelFor(model => model.CVV)
        @Html.TextBoxFor(model => model.CVV, new { @id = "cvv", @class = "", autocomplete = "off", @maxlength = "4", @Value = "" })

        <button id="btnSubmit">Submit</button>
    }
}

    <script src="~/Scripts/IframeScripts.js"></script>
