@model TokenExWebDemo.Models.BBEViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}
<header>
    <script src="https://test-api.tokenex.com/inpage/js/TokenEx-Lite.js"></script>
</header>
  


<h2>TokenEx Encryption Demo</h2>

@if (ViewBag.token != null)
{
    <div id="results" class="show">SUCCESS! <br />Token: @ViewBag.token</div>

    @Html.ActionLink("Return to Form", "Index", null, new { @class = "btnReturn" });
}
else
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { name = "encryptform", id = "encryptform" }))
    {
        <div class="row">
            <div class="half">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @id = "firstName", @class = "" })
            </div>
            <div class="half">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @id = "lastName", @class = "" })
            </div>
        </div>
        <hr />
            <label for="ccnumber">Credit Card Number</label>
            <input type="text" id="ccnumber" />

            <label>Expiration Date</label>
            <div class="row">
                <div class="half">
                    @Html.DropDownListFor(model => model.ExpMonth, Model.Months, new { @id = "expiry_month" })
                </div>
                <div class="half">
                    @Html.DropDownListFor(model => model.ExpYear, Model.Years, new { @id = "expiry_year" })
                </div>
            </div>
            @Html.LabelFor(model => model.CVV)
            @Html.TextBoxFor(model => model.CVV, new { @id = "cvv", @class = "", autocomplete = "off", @maxlength = "4", @Value = "" })

            @Html.HiddenFor(model => model.CipherText)

            <input id="TxEncryptionKey" type="hidden" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvWpIQFjQQCPpaIlJKpegirp5kLkzLB1AxHmnLk73D3TJbAGqr1QmlsWDBtMPMRpdzzUM7ZwX3kzhIuATV4Pe7RKp3nZlVmcrT0YCQXBrTwqZNh775z58GP2kZs+gVfNqBampJPzSB/hB62KkByhECn6grrRjiAVwJyZVEvs/2vrxaEpO+aE16emtX12RgI5JdzdOiNyZEQteU6zRBRJEocPWVxExaOpVVVJ5+UnW0LcalzA+lRGRTrQJ5JguAPiAOzRPTK/lYFFpCAl/F8wtoAVG1c8zO2NcQ0Pko+fmeidRFxJ/did2btV+9Mkze3mBphwFmvnxa35LF+Cs/XJHDwIDAQAB" />
            <input type="submit" name="Submit" id="submitButton" value="Submit" />
    }
}
    <script src="~/Scripts/EncryptionScripts.js"></script>

